


.NewsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
width: 70%;
margin: 100px auto;
  padding: 30px;
   gap: 30px;
  background: dodgerblue  ;
  background: linear-gradient(0deg, rgb(255, 255, 255)0%,  dodgerblue  95%);
}
.NewsContainer .inputs{
  display: flex;
  width: 40%;
  border: 1px solid rgb(143, 140, 140);
  padding: 5px 15px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.inputs input{
  background-color: transparent;
border: none;
  flex: 1;
  outline: none;
  cursor: pointer;
}
.inputs button{
  outline: none;
  cursor: pointer;
  border: none;
 
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  background-color:var(--yellow);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
}
.inputs button:hover{
  background-color:var(--darkYellow) ;
}

@media screen and (max-width:320px) {
  .NewsContainer{
    width: 100%;
    text-align: center;
  }
  .NewsContainer h2{
    font-size: 16px;
  }
  .NewsContainer p{
    font-size: 14px;
  }
  
  .NewsContainer .inputs{
    width: 100%;
    
  }
  .inputs button{
font-size: 9px;
    flex: 1;
  }
  .inputs input{
    flex: 1;
  }

}