.offerContainer{
  display: flex;
  align-items: center;
justify-content: center;
width: 70%;
margin: 100px auto;
  padding: 30px;
  gap: 100px;
  background: dodgerblue  ;
  background: linear-gradient(0deg, rgb(255, 255, 255)0%,  dodgerblue  95%);
  
}
.offerContainer .offerLeft{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  flex: 1;
}
.offerLeft button{

width: 150px;
padding: 5px;

background-color: var(--yellow);
border: none;
border-radius: 20px;
font-weight: 600;
color: white;
cursor: pointer;
box-shadow: 1px 2px 10px rgba(0,0,0,0.5);

}
.offerLeft button:hover{
  background-color:var(--darkYellow) ;
}
.offerContainer .offerRight{
 flex: 1;
 display: flex;
 justify-content: center;
}
.offerRight img{
  width:250px;
}

@media screen and (max-width:446px) {
  
  .offerRight img{
    width:150px;
  }
  .offerContainer{
    width: 95%;
   
  }

  .offerLeft h2{
    font-size: 17px;
  }
  .offerLeft p{
    font-size: 11px;
  }
  
}