.items{
  width: 100%;
  display: flex;
flex-direction: column;
margin-top: 30px;
gap: 30px;
padding: 20px;
}

 .heading h2{
  border: 2px solid var(--yellow);
  padding: 5px;
  display: flex;
  justify-content: center;
}
.women{
display: grid;
grid-template-columns: repeat(4,minmax(200px,250px));
align-items: center;
justify-content: center;
gap: 10px;
}

@media screen and (max-width:446px) {
  .women{
    display: grid;
grid-template-columns: repeat(auto-fit,minmax(200px,250px));
align-items: center;
justify-content: center;
gap: 30px;
  }
}

